@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans',sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    padding: 0 100px 0 100px;
}

nav ul,
.main-info-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body{
    background-color: #252627;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar{
    background-color: #181818;
    top: 0;
    position: sticky;
    opacity: 1;
    z-index: 999;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1{
    color: #707070;
}

li{
    list-style: none;
    margin-left: 30px;
}

a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section{
    height: calc(100vh - 81.6px);
}

.text{
    margin-top: 120px;
}

.text h1{
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}

.text span{
    display: inline-block;
}

span:hover{
    color: #48CFAD;
    transition: all .5s;
}

span.name{
    color: #ED5565;
}

span.m-left{
    margin-left: -10px;
}

.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a{
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover{
    color: #fff;
}

.text a::before{
    content: '';
    background-color: #ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before{
    height: 100%;
}

.profile-image img{
    width: 450px;
    margin-top: 50px;
    transition: all .5s ease-in-out;
}

.profile-image img:hover{
    transform: scale(1.2);
}

.about{
    height: 100vh;
    margin-top: 100px;
}

.about h1,
.work h1{
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.about-me-info{
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.about-me-info p{
    text-align: justify;
    font-size: 1.3rem;
    color: #BEBEBE;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child{
    margin-top: 30px;
}

.about img{
    width: 300px;
    position: relative;
    top: -300px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translateX(calc(-100% + 100px));
}

.skills{
    height: 100vh;
}

.skills h1,
.contact h1{
    text-align: right;
    font-size: 10rem;
    opacity: .1;
}

.skills-info{
    font-size: 1.4rem;
    color: #BEBEBE;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}

.html,
.css,
.javascript,
.python{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

div[class^='tag-']{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 80%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color: #1785A7;
    margin-right: 30px;
}

div[class^='tag-'] p{
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.2rem;
    padding-top: 3px;
}

.progressbar{
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #48CFAD;
    border-radius: 20px;
    margin-top: 7px;
}

div[class^='bar-']{
    position: absolute;
    background-color: #48CFAD;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
}

.bar-html,
.bar-css,
.bar-javascript,
.bar-python{
    width: calc(0 - 6px);
}

.work{
    height: 100vh;
}

.work-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-category button{
    text-transform: capitalize;
    border: 3px solid #ED5565;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ED5565;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
}

div[class^='category-']{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.work a{
    justify-self: center;
    position: relative;
    display: inline-block;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
    width: 500px;
    height: 300px;
    top: 50px;
    transition: .5s ease-in-out;
}

.work a:hover{
    height: 450px;
}
.work-category .active{
    background-color: #ED5565;
}

button.active{
    color: #fff;
}

.work a img{
    width: 350px;
    justify-self: center;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: .5s ease-in-out;
}

.work a:hover img{
    top: 0;
    transform: translateX(-50%) translateY(-50%) scale(1.2);
}

.work a .primary{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(50%);
    color: #fff;
    font-size: 1.2rem;
    transition: .5s ease-in-out;
    width: auto;
    font-family: 'PT Sans',sans-serif;
    opacity: 1;
}

#python_text{
    left: 25%;
    transform: translateX(0) translateY(80%);
}

.work a h2{
    position: absolute;
    left: 40%;
    top: 10%;
    transform: translateX(-28%) translateY(50%);
    color: #707070; 
    transition: .5s ease-in-out;
    opacity: 0;
}

.work a p{
    text-align: justify;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(50%);
    color: #707070;
    width: 80%;
    font-size: 1.3rem;
    transition: .5s ease-in-out;
    line-height: 150%;
    opacity: 0;
    font-family: 'Sniglet', cursive;
}

#python_text_1{
    left: 30%;
    transform: translateX(-15%) translateY(50%);
}

.work a:hover .primary{
    opacity: 0;
}

.work a:hover h2{
    top: 30%;
    opacity: 1;
}

.work a:hover p{
    opacity: 1;
}

div.hideCategory{
    display: none;
}

.showCategory{
    display: block;
}

.contact{
    margin-top: 50px;
    height: 100vh;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.icons ul{
    position: relative;
    display: flex;
}

.icons ul li{
    position: relative;
    list-style: none;
    margin: 0 40px;
}

.icons ul li a{
    text-decoration: none;
}

.icons ul li a .fa{
    font-size: 6rem;
    color: #707070;
}

.icons ul li::before{
    font-family: fontAwesome;
    position: absolute;
    margin-top: 48px;
    top: 0;
    left: 0;
    font-size: 6rem;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index: 1;
    pointer-events: none;
}

.icons ul li:nth-child(1)::before{
    content: '\f0e1';
    color: #0e76a8;
    border-bottom: 0px solid #0e76a8;
}

.icons ul li:nth-child(2)::before{
    content: '\f09b';
    color: #fff;
    border-bottom: 0px solid #fff;
}

.icons ul li:nth-child(3)::before{
    content: '\f0e0';
    color: #EA4335;
    border-bottom: 0px solid #EA4335;
    margin-left: 0.5px;
}

.icons ul li:nth-child(4)::before{
    content: '\f16d';
    color: #DD2A7B;
    border-bottom: 0px solid #DD2A7B;
    margin-left: 0.5px;
}

.icons ul li:hover::before{
    border-bottom: 4px solid;
    height: 100%;
}

@media screen and (max-width:1300px){
    .main-info-section{
        height: calc(100vh - 87px);    
    }

    .text h1{
        font-size: 3rem;
    }

    .text p{
        font-size: 0.9rem;
    }

    .profile-image img:hover{
        transform: 1.1;
    }

    .about-me-info{
        width: 800px;
    }

    .about-me-info p{
        font-size: 1.5rem;
    }

    .work a{
        width: 400px;
    }
    
    .work a:hover{
        height: 470px;
    }

    .work a h2{
        transform: translateX(-30%) translateY(50%);
    }

    #portfolio_text {
        left: 45%;
        transform: translateX(-40%) translateY(50%);
    }

    #portfolio_text_1{
        left: 30%;
        transform: translateX(-20%) translateY(50%);
    }

    #python_text{
        transform: translateX(-10%) translateY(80%);
    }

    #python_text_1 {
        left: 20%;
        transform: translateX(-10%) translateY(50%);
    }

    .work a p{
        font-size: 1.2rem;
    }

}

@media screen and (max-width:1100px){
    .container {
        padding: 0 75px 0 75px;
    }

    .text h1{
        font-size: 2.8rem;
    }

    .text p{
        font-size: 0.8rem;
    }
 
    .about-me-info p{
        font-size: 1.3rem;
    }
   
    .about-me-info{
        width: 700px;
    }

    .profile-image img{
        width: 345px;
    }

    .progressbar{
        width: 550px;
    }
    .work a{
        width: 350px;
    }

    .work a img{
        width: 300px;
    }

    #number_text{
        left: 40%;
        transform: translateX(-30%) translateY(50%);
    }

    .work a h2{
        transform: translateX(-15%) translateY(50%);
        left: 30%;
    }

    .work a p{
        top: 15%;
    }

    #portfolio_text {
        left: 30%;
        transform: translateX(-18%) translateY(50%);
    }

    #portfolio_text_1 {
        left: 20%;
        transform: translateX(-8%) translateY(50%);
    }

    #python_text{
        left: 20%;
    }

    #python_text_1 {
        left: 10%;
        transform: translateX(-5%) translateY(50%);
    }
}

@media screen and (max-width:900px){
    .main-info-section{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    
    .profile-image img{
        margin-top: 0px;
    }
    
    .profile-image img:hover{
        transform: scale(1.1);
    }
    
    .text{
        margin-top: -25px;
        z-index: 1;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 45px auto;
        grid-gap: 25px;
    }

    .text a{
        grid-column: 2/ span 2;
        grid-row: 1/span 1;
    }

    .text h1{
        font-size: 2.55rem;
    }

    .text p{
        padding-top: 75px;
    }

    .about h1, .skills h1, .work h1, .contact h1{
        font-size: 8rem;
    }
    
    .about-me-info{
        width: 90%;
        padding: 40px;
        top: -60px;
    }

    .about-me-info p{
        font-size: 1.1rem;
    }

    .about img{
        width: 250px;
        top: -250px;
    }

    .skills-info{
        font-size: 1.2rem;
    }

    div[class^='tag-']{
        width: 100px;
        height: 25px;
        background-color: #1785A7;
        margin-right: 30px;
    }
    
    div[class^='tag-'] p{
        padding-left: 5px;
        font-size: 1rem;
    }

    .progressbar{
        width: 70%;
        height: 20px;
    }

    .work{
        height: auto;
    }
    
    div[class^='category-']{
        align-items: center;
        flex-direction: column;
    }

    .work a{
        opacity: 1;
        transition: .5s ease-in-out;
        margin-bottom: 50px;
    }
    
    .work a:hover{
        width: 400px;
    }

    #number_text_1{
        transform: translateX(-30%) translateY(50%);
    }

    #portfolio_text_1{
        transform: translateX(-15%) translateY(50%);
    }

    #python_text_1{
        left: 12%;
        transform: translateX(0%) translateY(50%);
    }

    .contact{
        height: calc(100vh - 80px);
    }
}

@media screen and (max-width:700px){
    .container{
        padding: 0 30px 0 30px;
    }

    .about h1, .skills h1, .work h1, .contact h1 {
        font-size: 6rem;
    }

    .text{
        grid-gap: 0;
        grid-template-columns: auto 50px 70px;
    }

    .text p{
        padding-top: 80px;
        grid-column: 1/ span 2;
        grid-row: 2/span 1;
    }

    .text a{
        top: 70px;
        padding: 10px;
        font-size: .7rem;
        font-weight: bolder;
    }
    
    .text h1 {
        font-size: 2.2rem;
    }

    .about-me-info {
        top: -50px;
    }

    div[class^='tag-'] {
        width: 20%;
        margin-right: 10px;
    }
    
    div[class^='tag-'] p {
        font-size: 0.9rem;
    }

    .icons ul{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 40px;
    }

    .icons ul li a{
        top: 0;
    }

    .icons ul li::before {
        margin-top: 0;
    }    
}

@media screen and (max-width:450px){
    header h1{
        padding-top: 2px;
        font-size: 1.5rem;
    }

    nav ul li{
        margin-left: 20px;
    }

    .about h1, .skills h1, .work h1, .contact h1 {
        font-size: 4.5rem;
    }

    .text{
        grid-template-columns: auto auto;
        grid-template-rows: 120px 50px 45px;
        grid-gap: 0;
    }

    .text h1{
        grid-column: 1/ span 3;
        grid-row: 1/span 1;
    }

    .text p{
        padding-top: 0px;
        top: -20px;
    }

    .text a{
        top: 20px;
        padding: 10px;
        grid-column: 1/ span 1;
        grid-row: 3/span 1;
    }

    .about-me-info {
        top: -35px;
    }

    .skills-info {
        font-size: 1.1rem;
        text-align: justify;
        margin-bottom: 30px;
    }

    .about-me-info p {
        font-size: 1.05rem;
    }    
    
    .html, .css, .javascript, .python {
        margin-bottom: 20px;
    }

    div[class^='tag-'] {
        clip-path: none;
        border-radius: 20%;
    }
    
    .progressbar {
        margin-top: 3px;
    }
    
    .work-category button {
        padding: 15px 15px;
        width: 40%;
    }
    .work a {
        width: 300px;
    }

    .work a:hover{
        width: 350px;
    }
    
    .work a .primary {
        left: 20%;
        right: 0;
        top: 10px;
        transform: translateX(0%) translateY(50%);
        font-size: 1.2rem;
    }
    
    .work a img{
        width: 250px;
    }

    .work a:hover img{
        transform: translateX(-50%) translateY(-50%) scale(1.2);
    }
    
    #number_text_1 {
        left: 30%;
        transform: translateX(-15%) translateY(50%);
    }

    .work a p{
        top: 15%;
    }

    #portfolio_text, #portfolio_text_1{
        left: 15%;
        transform: translateX(0%) translateY(50%);
    }
    
    #python_text {
        left: 5%;
        transform: translateX(0) translateY(80%);
    }

    #python_text_1 {
        left: 7%;
    }
}

@media screen and (max-width:400px){
    .container {
        padding: 0 10px 0 10px;
    }

    .text p{
        letter-spacing: 1px;
        word-spacing: 2px;
    }
     
    .profile-image img:hover{
        transform: scale(1.05);
    }

    .about-me-info p{
        font-size: 1rem;
    }
    
    .skills-info {
    font-size: 1.2rem;
    word-spacing: 1px;
    text-align: justify;
    margin-bottom: 30px;
    }

    .icons{
        margin-top: 3vh;
    }

    .icons ul{
        grid-template-columns: auto;
        grid-gap: 20px;
    }
}

@media screen and (max-width:350px){
    header{
        padding: 15px;
        justify-content: center;
    }

    .profile-image img {
        width: 300px;
    }

    .text{
        grid-template-rows: 110px 50px 45px;
    }

    .text h1 {
        font-size: 2rem;
    }

    .about-me-info {
        width: 90%;
        padding: 15px;
    }

    .about-me-info p:nth-child(2), .about-me-info p:last-child {
        margin-top: 20px;
    }

    .about img {
        width: 80%;
        top: -175px;
    }

    .skills-info {
        font-size: 1rem;
    }

    .html, .css, .javascript, .python{
        justify-content: center;
    }

    div[class^='tag-'] {
        border-radius: 50%;
        width: 30%;
    }
    
    div[class^='tag-'] p {
        padding-left: 0;
        text-align: center;
    }

    .progressbar{
        width: 90%;
    }

    .work-category button{
        padding: 10px 10px;
        font-size: 1rem;
    }

    .work a {
        width: 250px;
    }

    .work a:hover{
        width: 275px;
    }

    .work a .primary {
        left: 12%;
    }

    .work a img {
        width: 225px;
    }

    #number_text_1{
        font-size: 1.25rem;
        left: 25%;
    }

    .work a p {
        font-size: 1rem;
        top: 17%;
    }

    #portfolio_text{
        left: 7%;
    }

    #portfolio_text_1{
        left: 10%;
        font-size: 1.2rem;
    }

    #python_text{
        font-size: 1.05rem;
        left: 3%;
    }

    #python_text_1{
        font-size: 1.15rem;
        left: 2%;
    }


}
